/* CSS declarations go here */

*
{
    font-family: 'Open Sans', sans-serif;

    list-style: none;
    box-sizing: border-box;


}
body{
	background: #f0f0f0;
}
ul{
	margin: 0px;
	padding: 0px;
}



.calendarStyle{
	background: white;
	text-align: center;

	border-radius: 3px;
	width: 90%;
	font-size: 18px;
	margin-left: 10%;
	padding: 10px 0px 10px 0px;



}
.now{
		width: 50%;

}
.cancel{
	width: 50%;
}
.now1{
	margin-left: 25%;
}
.start1{
	margin-left: 25%;
}
.statsStyle{
	background: white;
	padding: 10px 0px 10px 10px;
	width: 90%;
	border-radius: 3px;


}
.centerMonth{
	font-size: 20px;
}
.someSpace {
background: white;
padding-top: 30px;
padding-bottom: 30px;
font-size: 25px;
	border-radius: 3px;
	box-shadow: 0px 3px 0px #aaa;
	border-left: 1px solid #ccc ;
	border-right: 1px solid #ccc;

}

body > div.ui.grid > div.header.fifteen.wide.column > header > h1 > a{
	color: black;
}
.allData{

margin-left: 90px;
}

h1, h2, h3{
text-align: center;
text-decoration: none;
color: black;
}
a:hover{
    text-decoration: none;
}

body > div.ui.center.aligned.three.column.stackable.page.grid > div{
	margin-top: 20px;
}

body > div.ui.grid > div.main.ten.wide.column > div{
	margin-top: 20px;
}

.header{
	background: #ccc;
}

.calendar{
margin-top: 10px;
}

.cud{
margin-top: 20px;

}

.workingOn{
	width: 100%;
}
input{
	text-align: center;
}
.stats{
margin-top: 10px;
}
.lastBreak{
	width: 100%;
}

.questions{
	padding: 0% 10% 1% 10% ;
}
.questions li{
	padding: 5px;
}
::-webkit-input-placeholder {
   text-align: center;
}


.dataPoint{
	background-color: white;
	margin: 0px 0px 15px 0px;
	border-radius: 3px;
	box-shadow: 0px 3px 0px #aaa;
	border-left: 1px solid #ccc ;
	border-right: 1px solid #ccc;
	padding: 10px 10px 10px 10px;
	font-size: 16px;

}
.checkupOne{
	width: 100%;
}
.submitCheckup{
	width: 50%;
}
.submitCheckup1{
	margin-left: 25%;
}
.at-form{
	margin-top: 20px;
}
.ui.input{
	width: 100%;
}
.pause{
	font-size: 25px;
text-align: center;
}

.content{
	margin-top: 20px;
	
}
.createdAt{
font-size: 20px;
}
.dataStyle{
	padding-left: 15px;
}

.totalCheckups{
	font-size: 18px;
	font-weight: bold;
}
.deleteRecord{

}
.left{
	background: green;
}

.center{
	text-align: center;
}
.navigon{
	height: auto;
}

.moodMiddle{
	margin-left: 16%;
}
.moodRight{
	float: right;
}


























