/* CSS declarations go here */

*
{
    font-family: 'Open Sans', sans-serif;

    list-style: none;


}
body{
	background: #f0f0f0;
}
ul{
	margin: 0px;
	padding: 0px;
}
h3{
	margin: 0;
}

.at-form{
	min-width: 400px;
}
.ui.center.aligned.three.column.stackable.page.grid{
	margin-left: -20%;
}

.calendarStyle.ui.segment{
	text-align: center;
	font-size: 16px;


}

.dataPoint.ui.segment{
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	box-shadow: 0px 2px 0px #aaa;
	border-left: 1px solid #ccc ;
	border-right: 1px solid #ccc;


}

.space{
	margin-top: 30px;
}

.createdAt{
	border-bottom: 1px solid
}
.bold{
	font-weight: bold;
}

.startBlock.ui.segment{
	padding: 20px 20px 20px 20px;
	text-align: center;
	box-shadow: 0px 2px 0px #aaa;
	border-left: 1px solid #ccc ;
	border-right: 1px solid #ccc;
}
.ui.icon.input{
	width: 100%;
	text-align: center;
	margin: 3px;
	font-size: 18px;
}

.pause{
	font-size: 25px;
	margin: 0px 0px 10px 0px;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.statStyle{
	text-align: center;
	font-size: 16px;
}
.totalCheckups{
	font-size: 18px;
}

.moodStyle{
	font-size: 18px;
	margin-right: 5%;
	margin-bottom: 5px;
}



