<template name="callToAction">
	<div class="cta ui raised segment">
		<h1>Productivity Tracker</h1>
		<div class="bullet ui blue ribbon label">Work Smarter</div>
		<p class="bullet">
			As you're working, every half hour, you'll fill out a quick questionanaire.
		</p>
		<div class="bullet ui orange ribbon label">Track Your Productivity Over Time</div>
		<p class="bullet">
			In the meantime, the app runs in the background, out of your way.
		</p>
		<div class="bullet ui green ribbon label">Get Back to Work</div>
		<p class="bullet">
			At the end of a work day, you'll be able to look back and check on your productivity, mood, negative thinking patterns, and time between taking breaks.
		</p>
	</div>
	{{>fullPageAtForm}}
	<div class="ui segment cardss">
		<h2>Testimonials from REAL customers </h2>
		<div class="ui cards">

			<div class="card">
				<div class="image">
					<img src="stevie.jpg"></div>
				<div class="content">
					<a class="header">Jane</a>
					<div class="meta">
						<span class="date">New York, NY</span>
					</div>
					<div class="description"> <b>"I joined Productivity Tracker before it was super popular like it is right now and it helped me realize my dreams"</b> 
					</div>
				</div>
				<div class="extra content">
					<a class="right floated created">Joined in 2009</a>

				</div>
			</div>
			<div class="card">
				<div class="image">
					<img src="steve.jpg"></div>
				<div class="content">
					<div class="header">Steven</div>
					<div class="meta">
						<span class="date">Palo Alto, CA</span>
					</div>
					<div class="description"> <b>"I used Productivity Tracker while building a couple little startups and I credit all of my success to it"</b> 
					</div>
				</div>
				<div class="extra content">
					<div class="right floated created">Joined in 1973</div>

				</div>
			</div>
		</div>
	</div>
</template>