<template name="checkup">
<p class='pause'>Pause For A Moment And Fill Out The Checkup</p>
<ul class="questions">
<li>
	<div class="ui dropdown moodStyle">
		<div class="text">Positive Moods</div> <i class="dropdown icon"></i>
		<div class="mood1 menu">
			<div class="item">Calm</div>
			<div class="item">Confident</div>
			<div class="item">Euphoric</div>
			<div class="item">Excited</div>
			<div class="item">Happy</div>
			<div class="item">Introspective</div>
			<div class="item">Nostalgic</div>
			<div class="item">Motivated</div>
			<div class="item">Optimistic</div>
			<div class="item">Proud</div>
			<div class="item">Reflective</div>
			<div class="item">Relaxed</div>
			<div class="item">Scholarly</div>
			<div class="item">Serene</div>
			<div class="item">Silly</div>
			<div class="item">Straightforward</div>

		</div>
	</div>

	<div class="ui dropdown moodStyle">
		<div class="text">Neutral Moods</div> <i class="dropdown icon"></i>
		<div class="mood2 menu">
			<div class="item">Impartial</div>
			<div class="item">Meditative</div>
			<div class="item">Neutral</div>
			<div class="item">Nothing</div>
			<div class="item">Objective</div>
			<div class="item">Questioning</div>
			<div class="item">Speculative</div>

		</div>
	</div>


	<div class="ui dropdown moodStyle">
		<div class="text">Negative Moods</div>
		<i class="dropdown icon"></i>
		<div class="mood3 menu">

			<div class="item">Angry</div>
			<div class="item">Annoyed</div>
			<div class="item">Anxious</div>
			<div class="item">Apathetic</div>
			<div class="item">Confused</div>
			<div class="item">Cynical</div>
			<div class="item">Disappointed</div>
			<div class="item">Fearful</div>
			<div class="item">Frantic</div>
			<div class="item">Frustrated</div>
			<div class="item">Impatient</div>
			<div class="item">Indecisive</div>
			<div class="item">Lethargic</div>
			<div class="item">Pessimistic</div>
			<div class="item">Self-Depricating</div>
			<div class="item">Stressed</div>
			<div class="item">Uncertain</div>
			<div class="item">Tense</div>

		</div>
	</div>
</li>
	<li>

		<div class="ui icon input">
			<input class="workingOn" type="text" placeholder="What Are You Working On?">
			<i class="lightbulb icon"></i>
		</div>

	</li>
	<li>

		<div class="ui icon input">
			<input class="workProd" type="text" placeholder="How Productive Do You Feel? (1-10)">
			<i class="trophy icon"></i>
		</div>

	</li>
	<li>

		<div class="ui icon input">
			<input class="focus" type="text" placeholder="Are You Focusing on the Right Thing? (1-10)">
			<i class="bullseye icon"></i>
		</div>

	</li>
	<li>

		<div class="ui icon input">
			<input class="posture" type="text" placeholder="How is Your Posture? (1-10)">
			<i class="arrow up icon"></i>
		</div>

	</li>

	<li>

		<div class="ui icon input">
			<input class="negThoughts" type="text" placeholder="Amount of Negative Thinking? (1-10)">
			<i class="thumbs down icon"></i>
		</div>

	</li>

	<li>

		<div class="ui icon input">
			<input class="lastBreak" type="text" placeholder="How Long Ago Was Your Last Break? (In Minutes)">
			<i class="sun icon"></i>
		</div>

	</li>


</ul>
<br />
<span class="submitCheckup1">
	<div class="submitCheckup large ui primary button">Save</div>
</span>

<div class="ui horizontal divider">Or</div>

<span class="now1">
	<button class="cancel ui red button">Go Back</button>
</span>

<br />
</template>