<template name="start">
<div class="content six wide column">

<!--If the helper function "showCheckup" returns true, show the template "checkup" -->
<!--Otherwise, show the template, "button"-->

{{#if showCheckup}}
<div class="dataPoint">
    {{>checkup}}
</div>

{{else}}

{{>button}}
{{/if}}






</div>
</template>

<template name="button">

<div class="someSpace"> 

<p class="start1"> Your next checkup will be at: {{nextUpdate}}</p> 

<span class="start1"><button class="start positive massive ui button"> Start Next 30 Minute Time Block </button></span>

  <div class="ui horizontal divider">
    Or
  </div>

  <span class="now1"><button class="now ui black button"> Fill Out a Checkup Now </button></span>
</div>

</template>
<!--

when I click "december 31" I need to get a display
of all my checkup data from that day

When I click december 31, make a DB query 
show all documents where field matches dec31

*Each date in the left side bar needs to correlate to the actual date

*All Data needs to include all checkins

***setTimeout needs to persist through a page refresh
        store date for 'pressed start' then *doSomething 1200000ms later
            try this first
        jobs package
**When I submit a new date to the system, it should add it to the sidebar
When I click a specific date, it should show only those dates
        



localstorage
    when you press start, set a variable to "now"
    set "nextSurvey" to now + 3000

    use sessions and localStorage

    when I click submit set a session that causes a false

            if(expire === false){
                return false
            } else if(expire < Date.now()){
                return true
            } else if(next === null){
                return false
            } else if(now > next){
                return true
            } else {
                return false
            }


-->