<template name="start">
{{#if currentUser}}


{{#if showCheckup}}
	{{>checkup}}
{{/if}}

<div id="timer">
    <p> <span></span></p>
</div>

<button class="start"> Start </button>
<button class="check"> check </button>



{{/if}}

</template>


<!--

when I click "december 31" I need to get a display
of all my checkup data from that day

When I click december 31, make a DB query 
show all documents where field matches dec31

Make a template that holds db data

Every time we click a new page, we need to check if 
now < next... if yes > setTimeout

when you click start
	












-->